
@{
    ViewData["Title"] = "Juego";
}
<link rel="stylesheet" href="/css/site.css">
<header>
 <a  href= '@Url.Action("Index", "Home")' alt = "Ir al "> Home </a>

</header>

<body>


<h4> Intentos:</h4> 
<h4> @ViewBag.VBIntentos  </h4>

  @if (ViewBag.VBComoVa != null)
  {
   <div class="como" >
    @for (int i = 0; i < ViewBag.VBComoVa.Length; i++)
    {
        <div class="va" id="IdComoVA">
            @ViewBag.VBComoVa[i]
        </div>
    }
</div>
  }


  <form method = "POST" Action='@Url.Action("IrAlJuego", "Home")'>
      <p>
    Ponga una letra 
          <input id="IdLetra" type="text" >
          <input type="hidden" id="Intentos"  name="Intentos" value="0">
    
      </p>
          <button onclick= "Juego(@ViewBag.PalabraElejida)">Arriesgar letra</button>
    
  </form>

  <form method = "POST" Action='@Url.Action("IrAlJuego", "Home")'>
      <p>
    Ponga una Palabra
          <input id="IdPalabra" type="text" >
          <input type="hidden" id="Intentos"  name="Intentos" value="0">
      

          <button onclick = "Juego(@ViewBag.PalabraElejida)">Arriesgar Palabra</button>
    
  </form>


  <a  href= '@Url.Action("Index", "Home")' alt = "Ir al "> FIN </a>

    

</body>


















































