
@{
    ViewData["Title"] = "Juego";
}
<link rel="stylesheet" href="/css/site.css">
<header>
 <a  href= '@Url.Action("irAPagPrinc", "Home")' alt = "Ir al "> Home </a>

</header>

<body>

<div class= "container">
<h4> Intentos:</h4> 
<h4> @ViewBag.VBIntentos  </h4>

 @{
    char[] comoVa = (char[])ViewBag.VBComoVa;
}

@if (comoVa != null)
{
    <div class="como">
        @for (int i = 0; i < comoVa.Length; i++)
        {
            <span class="letra">@comoVa[i]</span>
        }
    </div>
}
else{
    <h4> no hay palabra cargada </h4>
}


  <form method = "POST" Action='@Url.Action("IrAlJuego", "Home")'>
      <p>
    Ponga una letra 
          <input id="IdLetra" type="text" >
          <input type="hidden" id="Intentos"  name="Intentos" value="0">
    
      </p>
          <button onclick= "Juego(@ViewBag.PalabraElejida)">Arriesgar letra</button>
    
  </form>

  <form method = "POST" Action='@Url.Action("IrAlJuego", "Home")'>
      <p>
    Ponga una Palabra
          <input id="IdPalabra" type="text" >
          <input type="hidden" id="Intentos"  name="Intentos" value="0">
      

          <button onclick = "Juego(@ViewBag.PalabraElejida)">Arriesgar Palabra</button>
    
  </form>


  <a  href= '@Url.Action("irAPagPrinc", "Home")' alt = "Ir al "> FIN </a>

    </div>
<script src="site.js"></script>
</body>


















































